.navLink {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    padding-left: 1rem;
    text-decoration: none;
    border-bottom: 1px solid #ccc;
  }
  
  .navLink:hover {
    text-decoration: underline;
    text-underline-offset: 0.250rem;
  }
  