.container {
  background-color: #ffffff;
  border: 1px solid #ccc;
  padding: 1.25rem;
  margin-bottom: 1.25rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
  margin-top: 2rem;
}

.title {
  text-decoration: underline;
  text-underline-offset: 0.5rem;
}

.actionButton {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  color: #ff0000;
}

.actionButton:hover {
  color: #700000;
}
