/* Container Styling */
.container {
    margin: auto;
}

/* Header Styling */
.header {
    padding: 16px 0 24px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.header h2 {
    font-weight: 600;
    font-size: 1.5rem;
    margin: 0;
}

/* Recipe Grid Layout */
.recipeGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 208px);
    gap: 28px;

    justify-content: left;
}

/* Add Recipe Card */
.addRecipeCard {
    background: #fff;
    border: 1px solid #b1b1b1;
    width: 208px;
    height: 255px;
    /* Matches recipeCard height */
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    font-size: 2rem;
    color: #00c73c;
    cursor: pointer;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.addRecipeCard:hover {
    border-color: #304436;
    color: #304436;
}

/* Recipe Card */
.recipeCard {
    background: #fff;

    border: 1px solid #b1b1b1;
    overflow: hidden;
    border-radius: 4px;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    display: flex;
    flex-direction: column;
    width: 208px;
    height: 255px;
    position: relative;
}

.recipeCard:hover {
    border-color: #304436;
    cursor: pointer;
}

/* Cauldron Button (if used) */
.cauldronButton {
    position: absolute;
    top: 0rem;
    right: 0rem;
    padding: 4px;
    background: transparent;
    background-color: #b6b6b6;
    color: #ffffff;
    border: none;
    cursor: pointer;
    width: 3rem;
    height: 3rem;
    z-index: 10;
}

/* Image Container */
.imageContainer {
    width: 100%;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #ddd;
}

.recipeImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Recipe Content */
.recipeContent {
    padding: 16px;
    text-align: left;
    height: 75px;
    display: flex;
    flex-direction: column;

    justify-content: center;
}

/* Recipe Header (Title Section) */
.recipeHeader {
    width: 100%;
    margin-bottom: 4px;
    display: flex;
    align-items: left;
}

.recipeHeader h4 {
    font-size: 1.125rem;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Metadata Row */
.metadataRow {
    width: 100%;
    font-size: 1rem;
    color: #666;
    overflow: hidden;
    white-space: nowrap;
    text-align: left;
}

/* Delete Button */
.deleteButton {
    color: red;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    transition: color 0.2s;
}

.deleteButton:hover {
    color: darkred;
}