/* Container Styling */
.container {
    margin: auto;
}

/* Header Styling */
.header {
    padding-top: 16px;
    display: flex;
    align-items: center;
    padding-bottom: 24px;
    gap: 10px;
}

/* Heading */
.header h2 {
    font-weight: 600;
    font-size: 1.5rem;
    margin: 0;
}

/* Grid Layout */
.recipeGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 208px);
    gap: 28px;
    justify-content: left;
}

/* Add Recipe Button - Looks Like a Card */
.addRecipeCard {
    background: #ffffff;
    border: 1px solid #b1b1b1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    font-size: 2rem;
    color: #00c73c;
    cursor: pointer;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    width: 208px;
    height: 255px; /* Matches recipeCard height */
    
}

/* Hover Effect for Add Button */
.addRecipeCard:hover {
    border-color: #304436;
    color: #304436;
}


/* Recipe Card - Variable Height */
.recipeCard {
    background: #fff;
    border: 1px solid #b1b1b1;
    overflow: hidden;
    border-radius: 4px;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    display: flex;
    flex-direction: column;
    width: 208px;
    height: 255px;
}

/* Hover Effect */
.recipeCard:hover {
    border: 1px solid #304436;
    cursor: pointer;
}

/* Image Container */
.imageContainer {
    width: 100%;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #ddd;
}

/* Image Styling */
.recipeImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Content Styling */
.recipeContent {
    padding: 16px;
    text-align: left;
    height: 75px;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

/* Recipe Header */
.recipeHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Recipe Title */
.recipeHeader h4 {
    font-size: 1.125rem;
    margin-bottom: 1px;
    white-space: nowrap;  
    overflow: hidden;     
    text-overflow: ellipsis; 
    max-width: 100%; 
    margin-bottom: 1px;
    
}

/* Metadata Row */
.metadataRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    color: #666;
}

/* Delete Button */
.deleteButton {
    color: red;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    transition: color 0.2s;
}

.deleteButton:hover {
    color: darkred;
}
