.contentWrapper {
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100vh - 4rem); 
    transition: backdrop-filter 0.3s ease-in-out, background-color 0.3s ease-in-out;
    z-index: 10; 
  }
  
  .overlay {
    background-color: rgba(0, 0, 0, 0.3); 
  }
  