/* Container Styling */
.container {
  margin: auto;
  background-color: #f5f5f5ce;
  padding: 10px;
  margin-bottom: 32px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* Header Styling */
.header {
  padding: 16px 16px 24px;
  display: flex;
  align-items: center;
  justify-content: left;
}

.header h2 {
  font-weight: 600;
  font-size: 1.5rem;
  margin: 0;
}

/* Content area: takes up remaining space and is scrollable */
.content {
  flex: 1;
  width: 100%;
  justify-content: center;
  display: flex;
}

.emptyCauldron {
  display: flex;
  flex-direction: column;
  width: 1075px;
  height: 480px;
  opacity: 70%;
  color: var(--foreground);
  justify-content: center;
  align-items: center;
}

.emptyCauldronIcon {
  color: var(--foreground);
  stroke-width: 2px;
  opacity: 70%;
  margin-bottom: 10px;
}

.emptyCauldronText {
  font-size: 1.5rem;
  font-weight: 600;
  opacity: 70%;
  color: var(--foreground);
  margin: 0;
}

/* Grid Layout for Cauldron Cards: auto-fit cards with a minimum width */
.cauldronGrid {
  display: grid;
  width: 1075px;
  height: 488px;
  justify-content: left;
  grid-template-columns: repeat(auto-fit, 187px);
  gap: 28px;
}

/* Cauldron Card Styling */
.cauldronCard {
  background: #fff;
  border: 1px solid #000;
  border-radius: 4px;
  overflow: hidden;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  display: flex;
  flex-direction: column;
  width: 187px;
  height: 230px;
  margin-left: 14px;

}

/* Image Container */
.imageContainer {
  width: 100%;
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #000;
}

.recipeImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Content Styling */
.cardContent {
  padding: 16px;
  text-align: left;
  height: 75px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cardContent h4 {
  font-size: 1.125rem;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Pagination Styling */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 24px 0 16px 0;
}

.pagination ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

.pagination li {
  margin: 0 5px;
}

.pagination button {
  display: inline-block;
  padding: 8px 12px;
  color: #000;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.pagination button:hover .active{
  background-color: #f0f0f0;
}

.pagination button:disabled {
  opacity: 0.5;
  cursor: default;
}

.pagination .active button {
  background-color: #333;
  color: #fff;
  border-color: #333;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .header h2 {
    font-size: 1.25rem;
  }
  
  .cauldronGrid {
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    gap: 20px;
  }
  
  .cauldronCard {
    width: 140px;
    height: 210px;
  }
  
  .imageContainer {
    height: 140px;
  }
  
  .cardContent {
    padding: 10px;
    height: 75px;
  }
  
  .cardContent h4 {
    font-size: 1rem;
  }
}
