/* Container Styling */
.container {
  margin: auto;
}

/* Header Styling */
.header {
  padding-top: 16px;
  display: flex;
  align-items: center;
  padding-bottom: 24px;
  gap: 10px;
}

/* Heading */
.header h2 {
  font-weight: 600;
  font-size: 1.5rem;
  margin: 0;
}

/* Grid Layout for Cauldron Cards */
.cauldronGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 208px);
  gap: 28px;
  justify-content: left;
}

/* Cauldron Card Styling (like recipeCard) */
.cauldronCard {
  background: #fff;
  border: 1px solid #b1b1b1;
  overflow: hidden;
  border-radius: 4px;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  display: flex;
  flex-direction: column;
  width: 208px;
  height: 255px;
}

/* Image Container */
.imageContainer {
  width: 100%;
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #ddd;
}

/* Image Styling */
.cauldronImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Content Styling */
.cardContent {
  padding: 16px;
  text-align: left;
  height: 75px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Cauldron Title */
.cardContent h4 {
  font-size: 1.125rem;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 1px;
}
